<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-2"><br><br>
			<h1 style="color: aquamarine;"><b><i>Our restaurants Gallery & Interior Views</i></b></h1>
			<img src="../../assets/img/restaurent06.jpg">
			<img src="../../assets/img/restbanner1.jpg">
			<img src="../../assets/img/862730.jpg">
			<img src="../../assets/img/restbanner.jpg">
			<img src="../../assets/img/restaurent02.jpg">
			<img src="../../assets/img/restaurent03.jpg">
			<img src="../../assets/img/restaurent04.jpg">
			<img src="../../assets/img/restaurent05.jpg">
		</div>
	</div>
</div>