<br><div class="about">
	<h2>About The Food Cravings<mat-icon style="color:#ffffff;font-size: 30px;"> favorite</mat-icon></h2>
	<h3 style="color:#c3edf8">
We are here to provide you the best restaurants near by you.
we are a place where you can sit and enjoy that best food. <br>
We provide you such restaurants were you can work in a specifically 
created area and can take rest in soft-seating in a cool area.<br>
The coffee shops we provide you have everything from classic and tasty food!<br>
</h3>
<h1 style="text-align: center;color: aqua;">Extra Features!!</h1>
<div class="images">
<img src="../../assets/img/food4.jpg" alt="doubleespresso">
   <img src="../../assets/img/food2.jpg" alt="espressomacchiato">
   <img src="../../assets/img/food5.jpg" alt="coffeeimage01">
   <img src="../../assets/img/food1.jpg" alt="coffeenicecream">
</div>
<h3 style="color:#97c5e0">
We provide the world’s ultimate restaurant experience with the highest-quality products, most inviting stores, friendliest staff and best value.<br>
<b>Serve Others:</b> Give of yourself fully to each person you come in contact with, co-workers and customers alike. <br>
<b>Make a Difference:</b> Look for ways to make a difference in your work environment and community every day. <br>
<b>Have Fun:</b> Enjoy life to the fullest in all you do</h3>
</div><br><br>
